<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
        {% csrf_token %}
    
    <label for="tn">Topic Name</label>
    <select name="tn" id="tn">
        {% for to in topics %}
            <option value="{{to.Topic_name}}">{{to.Topic_name}}
            </option>
        {% endfor %}
    </select>
    <br>
    <label for="n">Name</label>
    <input type="text" name="n" id="n"><br>
    <label for="u">Url</label>
    <input type="url" name="u" id="u"><br>
    <label for="em">Email</label>
    <input type="email" name="em" id="em"><br>
    <input type="submit" value="create-web">
    </form>
</center>

</body>
</html>